/*http://www.colorcombos.com/color-schemes/424/ColorCombo424.html*/
html {
	-webkit-font-smoothing: antialiased;
}

/* HTML5 Support */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  	display: block;
}
/* Background */
body { 
	background-color: #274257; 
}

article,
nav
{
	width: auto;
	margin: 0px 25px 0px 25px;
}
/* Boot */
#boot_title
{
	color: #8F6048;
	font-family: 'Wire One', sans-serif;
	font-size: 100px;
	line-height: 150%;
	text-shadow: 1px 1px 1px #2A75A9;
	letter-spacing: 50px;
	text-align: center;
}

#restart_b
{
	position: absolute;
	top: 39px; 
	right: 100px;
	border-top: 1px solid #8F6048;
    border-left:  1px solid #8F6048;
    border-right:  1px solid #8F6048;
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
    	-moz-border-radius: 10px 10px 0 0; 
		-webkit-border-radius:10px 10px 0 0; 
	height: 35px;
	padding: 3px;
	background-image: linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -o-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -moz-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -webkit-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -ms-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(0, #8F6048),
			color-stop(0.74, #644436)
		);
}

#rb_text
{	
	font-size: 12px;
	letter-spacing: 4px;
}
/* Title */
header
{
	width: 500px;
	margin: 25px auto 0px auto;
	background-color: #274257;
	-moz-border-radius: 20px 20px 0 0; 
	-webkit-border-radius: 20px 20px 0 0; 
}

#title{
	color: #DFC184;
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	text-shadow: 2px 2px 2px #8F6048;
	letter-spacing: 10px;
	text-align: center;
}

/* Navigation */
#indicator
{  
	margin: 0px auto 0px auto; 
    width: 350px;  
    height: 35px; 
    text-align: center;  
    font-size: 20px;  
    letter-spacing: 25px;  
    white-space: nowrap;  
    line-height: 12px;  
    overflow: hidden;  
    border-top: 1px solid #8F6048;
    border-left:  1px solid #8F6048;
    border-right:  1px solid #8F6048;
    border-radius: 20px 20px 0 0; 
    -moz-border-radius: 20px 20px 0 0; 
	-webkit-border-radius:20px 20px 0 0; 
	-moz-box-shadow: 0 0 3px #7EB5D6;
	-webkit-box-shadow: 0 0 3px #7EB5D6;
	box-shadow: 0 0 3px #7EB5D6;
	background-image: linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -o-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -moz-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -webkit-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -ms-linear-gradient(left top, #8F6048 0%, #644436 74%);
		background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(0, #8F6048),
			color-stop(0.74, #644436)
		);
}  
  
.ball { 
	margin: 10px;
    width: 15px;  
    height: 15px;  
    border: solid 1px #8F6048;  
    display: inline-block;  
    vertical-align: middle; 
    border-radius: 8px;
	background-color: #274257; 
} 

.ballhover { 
	border: solid 1px #DFC184;
	box-shadow: 0 0 1px 1px #DFC184;
		-moz-box-shadow: 0 0 1px 1px #DFC184;
		-webkit-box-shadow: 0 0 1px 1px #DFC184;
	} 

.selected {
	background-color: #DFC184;
	border: solid 1px #7EB5D6;
	box-shadow: 0 0 3px 3px #644436;
		-moz-box-shadow: 0 0 3px 3px #644436;
		-webkit-box-shadow: 0 0 3px 3px #644436;
	background: rgb(219,219,219); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(219,219,219,1) 0%, rgba(221,183,106,1) 61%, rgba(126,181,214,1) 98%, rgba(126,181,214,1) 100%, rgba(126,181,214,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(219,219,219,1)), color-stop(61%,rgba(221,183,106,1)), color-stop(98%,rgba(126,181,214,1)), color-stop(100%,rgba(126,181,214,1)), color-stop(100%,rgba(126,181,214,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(219,219,219,1) 0%,rgba(221,183,106,1) 61%,rgba(126,181,214,1) 98%,rgba(126,181,214,1) 100%,rgba(126,181,214,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(219,219,219,1) 0%,rgba(221,183,106,1) 61%,rgba(126,181,214,1) 98%,rgba(126,181,214,1) 100%,rgba(126,181,214,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(219,219,219,1) 0%,rgba(221,183,106,1) 61%,rgba(126,181,214,1) 98%,rgba(126,181,214,1) 100%,rgba(126,181,214,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(219,219,219,1) 0%,rgba(221,183,106,1) 61%,rgba(126,181,214,1) 98%,rgba(126,181,214,1) 100%,rgba(126,181,214,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#7eb5d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Content */
article
{ 
	min-width: 705px; 
	padding: 0px 40px 40px 40px;
	border: 1px solid #7EB5D6;
	background-color: #2A75A9; 
	border-radius: 50px;
	box-shadow: 0 0 5px #7EB5D6;
		-moz-box-shadow: 0 0 5px #7EB5D6;
		-webkit-box-shadow: 0 0 5px #7EB5D6;
	background: rgb(143,96,72); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(143,96,72,1) 0%, rgba(126,181,214,1) 0%, rgba(42,117,169,1) 15%, rgba(42,117,169,1) 98%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,96,72,1)), color-stop(0%,rgba(126,181,214,1)), color-stop(15%,rgba(42,117,169,1)), color-stop(98%,rgba(42,117,169,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(126,181,214,1) 0%,rgba(42,117,169,1) 15%,rgba(42,117,169,1) 98%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(126,181,214,1) 0%,rgba(42,117,169,1) 15%,rgba(42,117,169,1) 98%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(126,181,214,1) 0%,rgba(42,117,169,1) 15%,rgba(42,117,169,1) 98%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(143,96,72,1) 0%,rgba(126,181,214,1) 0%,rgba(42,117,169,1) 15%,rgba(42,117,169,1) 98%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f6048', endColorstr='#2a75a9',GradientType=0 ); /* IE6-9 */
}

.more_padding { padding: 20px; }

.margin_bottom { margin-bottom: 10px; }

/* Button */
.buttontext
{
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 2px #274257;
	letter-spacing: 3px;
	font-size: 20px;
}


button
{
	margin: 40px 5px 0 5px;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #644436;
	background-color: #644436;
	border-radius: 15px;
	width: auto; 
	height: 50px;
	padding: 10px;
	box-shadow: 0 0 3px #7EB5D6;
		-moz-box-shadow: 0 0 3px #7EB5D6;
		-webkit-box-shadow: 0 0 3px #7EB5D6;
	background: rgb(143,96,72); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(143,96,72,1) 0%, rgba(100,68,54,1) 30%, rgba(100,68,54,1) 70%, rgba(143,96,72,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,96,72,1)), color-stop(30%,rgba(100,68,54,1)), color-stop(70%,rgba(100,68,54,1)), color-stop(100%,rgba(143,96,72,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(100,68,54,1) 30%,rgba(100,68,54,1) 70%,rgba(143,96,72,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(100,68,54,1) 30%,rgba(100,68,54,1) 70%,rgba(143,96,72,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(143,96,72,1) 0%,rgba(100,68,54,1) 30%,rgba(100,68,54,1) 70%,rgba(143,96,72,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(143,96,72,1) 0%,rgba(100,68,54,1) 30%,rgba(100,68,54,1) 70%,rgba(143,96,72,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f6048', endColorstr='#8f6048',GradientType=0 ); /* IE6-9 */	
}

.buttonhover { 
	border: solid 2px #DFC184;
	background-color: #644436;
	box-shadow: 0 0 3px #644436;
		-moz-box-shadow: 0 0 3px #644436;
		-webkit-box-shadow: 0 0 3px #644436;
	background: rgb(100,68,54); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(100,68,54,1) 0%, rgba(143,96,72,1) 30%, rgba(143,96,72,1) 70%, rgba(100,68,54,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,68,54,1)), color-stop(30%,rgba(143,96,72,1)), color-stop(70%,rgba(143,96,72,1)), color-stop(100%,rgba(100,68,54,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(100,68,54,1) 0%,rgba(143,96,72,1) 30%,rgba(143,96,72,1) 70%,rgba(100,68,54,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(100,68,54,1) 0%,rgba(143,96,72,1) 30%,rgba(143,96,72,1) 70%,rgba(100,68,54,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(100,68,54,1) 0%,rgba(143,96,72,1) 30%,rgba(143,96,72,1) 70%,rgba(100,68,54,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(100,68,54,1) 0%,rgba(143,96,72,1) 30%,rgba(143,96,72,1) 70%,rgba(100,68,54,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#644436', endColorstr='#644436',GradientType=0 ); /* IE6-9 */
} 

.buttonhover h3 { 
	color: #DFC184;
	text-shadow: 1px 1px 1px #7EB5D6; 
}

/* Welcome */
#welcomecontent
{
	padding: 0 60px 60px 60px;
}

#welcomeheader { float: left; }

#welcomepic
{
	margin-top: 10px 0 0 10px;
	float: right; 
	border-radius: 30px;
	border: 1px solid #644436;
	box-shadow: 0 0 5px #644436;
		-moz-box-shadow: 0 0 5px #644436;
		-webkit-box-shadow: 0 0 5px #644436;
}

.clear_both { clear: both; }

/* Projects */

#github_link
{
	float: right; 
	margin-right: 60px;
}

/* Recordings */
.padded_text
{
	padding: 0px 60px 0 60px; 
}

.album 
{
	margin: 10px;
	border: 2px solid #644436;
	border-radius: 10px;
	box-shadow: 0 0 10px #7EB5D6;
		-moz-box-shadow: 0 0 10px #7EB5D6;
		-webkit-box-shadow: 0 0 10px #7EB5D6;
}

.album:hover
{
	border: 2px solid #DFC184;
	box-shadow: 0 0 3px 3px #644436;	
		-moz-box-shadow: 0 0 3px 3px #644436;
		-webkit-box-shadow: 0 0 3px 3px #644436;
}

#in_sub:hover
{
	border: 2px solid #DFC184;
	box-shadow: 0 0 10px #644436;
		-moz-box-shadow: 0 0 10px #644436;
		-webkit-box-shadow: 0 0 10px #644436;
}

#albumgrid { margin: 10px auto 10px auto; }

iframe { margin: 30px auto 0 auto; }

.player { 
	margin-bottom: 10px;	
}

.hideplayer { 
	float: left; 
} 

/* Experience */
.school,
.pos_title,
.organization,
.more_info
{
	color: #DFC184; 
	text-shadow: 1px 1px 1px #644436;
}

.course,
.job_duties 
{
	color: #7EB5D6; 
	text-shadow: 1px 1px 1px #644436;
}


.school
{
	letter-spacing: 3px; 
	font-size: 20px; 
}

.pos_title,
.more_info
{
	letter-spacing: 3px; 
	font-size: 18px; 
	margin-left: 40px;
}

.organization
{
	letter-spacing: 3px; 
	font-size: 20px; 
}

#pdf_resume
{
	float: right;
	margin-top: 35px; 
	margin-right: 60px;
}

.experience_link 
{
	font-size: 20px;
	text-shadow: 0 0 0 #644436;
}

.experience_link:hover
{
	text-shadow: 3px 3px 3px #644436;
}

/* Contact */

#contactbox
{
	margin: 0px auto 0px auto; 
	width: auto;
	text-align: center;
	white-space: nowrap; 
}

#addressbox 
{ 
	text-align: center;
}

.address
{
	color: #DFC184; 
	text-shadow: 2px 2px 2px #644436;
}

ul { 
	list-style-type: none;
} 

/*General Content*/
h2,
h3,
h4,
h5,
p,
a,
li
{ 
	font-family: 'Open Sans Condensed', sans-serif; 
	color: #7EB5D6;
}

h2
{
	color: #DFC184; 
	text-shadow: 2px 2px 2px #644436;
	font-size: 40px;
	letter-spacing: 10px;
	text-align: left;
		
}

h3,
h4,
h5,
a, 
p
{
	letter-spacing: 2px; 
}

h3{font-size: 30px;}

h4{font-size: 25px;}

h5{font-size: 24px;}

p
{
	font-size: 22px;
	color: #7EB5D6;
	text-align:justify;
	text-justify:inter-word;
	line-height:200%;
}

a
{
	color: #7EB5D6; 
	text-decoration: none; 
	text-shadow: 1px 1px 1px #DFC184; 
}

a:hover 
{
	color: #DFC184; 
	text-shadow: 1px 1px 1px #644436; 
}

li
{
	font-size: 16px; 
	letter-spacing: 5px; 
	line-height: 250%;
	margin-left: 40px; 
}

/* Footer */
footer
{
	position: relative; 
	bottom: 0px;
}

#f
{
	color: #7EB5D6;
	font-family: 'Wire One', sans-serif;
	font-size: 15px;
	letter-spacing: 5px;
	text-align:center;
}
