/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass"; 



/*Variables*/
$white-blue: #e6f9ff;
$light-blue: #279be8; 
$teal: #2086bd;
$bright-yellow: #dee827;
$dark-blue: #144396;
$light-orange: #e89b27;

/*Vertical Rhythm*/
$huge: 72px;
$large: 40.5px; 
$semi-large: 30.375px;
$pseudo-large: 27px; 
$medium: 18px; 
$normal: 13.5px; 
$tiny: 9px; 

$base-font-size: 18px; 
$base-line-height: 27px; 
@include establish-baseline(); 


html,
body
{ 
	height: 100%; 
	width: 100%;
} 

body
{
	background-color: $light-orange; 
	margin: 0 auto;
} 

/* TYPOGRAPHY */ 

h1 { 
	@include adjust-font-size-to($large); 
	font-family: "Raleway";
	@include trailer();
} 

h2 { 
	@include adjust-font-size-to($pseudo-large);
	font-family: "BenchNine";
	letter-spacing: 3px; 
	font-weight: 700; 
}

h3 {
	@include adjust-font-size-to($medium);
	font-family: "Ubuntu Mono"; 
} 

p { @include adjust-font-size-to($normal); 
	font-family: "Ubuntu Mono"; 
	@include leader();
	@include trailer(); 
}

ul { 
	margin-left: .25em;
} 

li { 
	font-size: $normal; 
	line-height: 150%;
}

/* HEADER */ 
header
{ 
	position: fixed; 
	top: 0;
	width: 100%;
	background-color: rgba(39, 155, 232, .95);
	text-align: center;
	padding: .5em 0;
	@include inline-block();
	@include box-shadow(shade($dark-blue, 50) 0px 0px 2px 2px);
	text-transform: uppercase; 
	a, a:visited {color: $white-blue;}
	a:hover, a:visited:hover { font-style: italic; }
	h1 {
		@include adjust-font-size-to($semi-large);
		font-family: "BenchNine";
		font-weight: 300;
		letter-spacing: 4.5px;
		margin-bottom: 0;
	}
	h2 { 
		font-weight: 300; 
		letter-spacing: 4.5px; 
		@include adjust-font-size-to($normal);
		
	} 
	section { 
		background-color: $light-blue;
	} 
} 

#bloglink {padding-left: .25em}

nav
{
	background-color: $dark-blue;
	padding: .5em 0;
	@include adjust-font-size-to($medium);
	@include border-radius(0 0 0 5px);
	@include box-shadow (shade($dark-blue, 50) 0px 0px 1px 1px inset, shade($dark-blue, 50) 0px 0px 5px 1px);
	a { 
		padding: .25em;
		margin: 0 .25em;
		@include inline-block();
		color: $white-blue; 
	} 
	a:hover,
	a:visited:hover,
	.selected
	{
		background-color: $light-blue;
		color: $dark-blue;
		@include border-radius(5px 5px 5px 5px);
		@include box-shadow (shade($dark-blue, 50) 0px 0px 1px 1px inset, $light-blue 0px 0px 1px 1px);
	} 
	section { 
		width: 100%; 
		background-color: $light-blue;
		margin-top: .5em;
		@include border-radius(0 0 5px 5px);
		a {
			font-family: "ubuntu mono";
		}
		a:hover {
			font-style: italic;
		} 
		p { 
			font-family: "ubuntu mono";
			color: $white-blue;
			padding-right: 1em;
			margin-bottom: 0; 
			padding-bottom: 1.5em;
		}
	} 
} 

#mastnav { 
	position: fixed;
	top: 0; 
	right: 0;
}

#secnav {
	position: fixed;
	left: 0;
	@include border-radius(0 0 5px 0);
	font-family: "BenchNine";
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

#contact,
#address {
	a { margin-top: 1em; }
	a:hover { box-shadow: none; }
	font-size: 18px;
	background-color: $light-blue;
	margin-bottom: 0;
	padding-right: 1em;
	text-align: right;
} 

#musiclink{
	font-family: "Merriweather";
	font-weight: 300;
}

#weblink,
#contactlink
{
	font-family: "ubuntu mono";
	font-weight: 400; 
} 

#contactlink{
	font-style: italic;
}

#resumelink { 
	font-family: "Raleway";
} 

aside 
{
	margin-top: 7em;
	margin-right: 20px;
	float: right;
} 

article  
{ 
	padding: 7.5em 0 2em 0; 
	width: 100%;
	float: right;
	text-align: right;
	color: $white-blue;
	ul { 
		font-family: "Ubuntu Mono";
		@include adjust-font-size-to(30px);
	} 
}

button {  
	display: inline-block;
	margin: 0 auto;
}

img { @include border-radius(5px);}

.one { 
	width: 90%;
	clear: both;
	margin: 0 4.5%;
	img { 
	
	} 
} 

.one-third { 
	width: 30%; 
	margin: 0 1.6%;
}

.two { 
	width: 40%;
	margin: 0 4.5%;
} 

.three-forths {
	width: 69%; 
	margin: 0 3%
}

.four {
	width: 23%;
	margin: 0 1%;
}	

.columns {
	float: left;
} 

a 
{ 
	color: $dark-blue;
	text-decoration: none;
} 

a:hover
{
	color: $white-blue; 
} 

.buttons {
	text-align: center;
	padding: 0 0 2em 0;	
}

.italic {font-style: italic;}
.left {text-align:left;}
.justify {text-align:justify;}
.center {text-align:center;}
.obscure {color: adjust-lightness($light-orange, -10)};
.initblank {display:none;} 

/*Page Styles*/

/*Home*/
.greeting
{
	text-align: center;
	img { 
		@include border-radius(300px, 300px);
		height: 300px;
		width: 300px;
		
		display: block;
		margin: 0 auto;
	}
	
	p { 
		@include adjust-font-size-to($medium); 
	} 
} 


aside {
	img {
		
		float: left;
		
		margin: 0 auto 0 0;
	}
}

#musiclanding,
#currentprojects, 
#discography
{
	a:hover {
		color: $white-blue;
	} 
}

#currentprojects
{
	img {
		max-width: 300px;
		width: 100%; 
		margin: 2em auto;
		display: block;
	} 
	
	.one img { 
		max-width: 800px;
		width: 100%; 
	} 
	background-color: $dark-blue;
	h1 {text-align: center;}
	a { 
		color: tint($dark-blue, 50);
	}
} 

#discography { 
	background-color: $light-orange;
	text-align: center;
	section {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	h4, h5 { 
		font-family: "BenchNine";
		font-weight: 300; 
		letter-spacing: 1px;
	}
	h4 { 
		@include adjust-font-size-to($pseudo-large);	
	}
	h5 { 
		@include adjust-font-size-to($medium);
	}
	a { 
		font-family: "Ubuntu mono";
		font-size: 16px;
		color: shade($light-orange, 50);
	} 
	img {
		width: 100%; 
		margin: 0 auto;
		@include border-radius(5px, 5px);
	}
	
	
} 

#tt_link {
	@include adjust-font-size-to($huge);
	border: shade($light-orange, 50) solid 2px;
	font-family: "BenchNine";
	text-transform: uppercase; 
	color: tint($light-orange, 85);
	background-color: shade($light-orange, 25);
	@include box-shadow(shade($light-orange, 50) 0px 0px 5px 1px);
	margin: 1em auto;
}

#tt_link:hover { 
	background-color: shade($light-orange, 50);
	color: tint($light-orange, 50);
	text-shadow: black 1px 1px 1px;
	@include box-shadow(shade($light-orange, 100) 0px 0px 2px 1px);
} 

/*WEB*/
#portfolio
{
	text-align: center;
	background-color: $light-orange;
	h1 {
		@include leader(); 
		@include trailer(); 
	}
	a { 
		color: $white-blue;
	} 
	p { 
		max-width: 800px;
		margin: 0 auto; 
		@include trailer();
	} 
	img { 
		width: 90%; 
		margin-top: 2em;
		margin: 0 auto;
		@include leader(); 
		@include trailer();
		@include border-radius(20px, 20px);;
	} 
} 

#selfpromotion
{
	background-color: $dark-blue;
	h1 {
		@include leader(); 
		@include trailer(); 
	}
	h1, h2 { text-align: center; } 
	p {
		margin-top: 2em;
		font-size: 1em;
	}
	ol {
		margin-top: 1.75em;
	}
	li { 
		font-family:"Ubuntu mono";
		text-align: center; 
		line-height: 1.8em;
	}
	h2 a, a:visited {color: $light-blue;}
	h2 a:hover, a:visited:hover {color: white;}
	.one { 
		text-align: center;
	}
	button { 
		width: 100px;
		height: 100px;
		margin: .25em;
		background-color: shade($light-blue, 25);
		@include adjust-font-size-to($huge); 
		border: $light-blue solid 2px; 
		@include box-shadow(shade($light-blue, 50) 0px 0px 2px 1px); 
		color: white; 
		font-family: "BenchNine"
	}
	
	button:hover { 
		background-color: shade($light-blue, 75);
		text-shadow: $light-blue 1px 1px 1px; 
	}  
} 

/*Resume*/

#experience
{
	background-color: $dark-blue;
	text-align: center;
} 

#exp_button { 
	font-family: "BenchNine";
	text-transform: Uppercase; 
	font-weight: 300;
	background-color: shade($light-orange, 25);
	border: $light-orange solid 2px; 
	color: white;
	@include box-shadow(shade($light-orange, 25) 0px 0px 2px 2px);
	@include adjust-font-size-to($pseudo-large);
} 

#exp_button:hover { 
	background-color: shade($light-orange, 75);
	@include box-shadow(shade($light-orange, 75) 0px 0px 2px 2px);
} 

/* Responsive */ 

@media (max-width: 1024px) {
  /* line 354, ../sass/screen.scss */
	header { 
		text-align: left;
		padding-left: 2em;
	}
	#secnav { 
		top: 5em; 
		@include border-radius(5px 5px 5px 5px);
	} 
	#discography h4,
	#discography h5 {@include adjust-font-size-to($medium);
					 letter-spacing: 0px;}
					 
	.one-third {
		width: 40%;
		margin: 0 4.5%;
	}
	
	.one-third:nth-child(3) {
		width: 90%; 
		clear: both;
		margin: 0 4.5%;
	}
	
	#education ul { 
		text-align: center;
		padding: 0; 
		margin: 0;
	} 
	
	#exp_button { 
		display: none; 
	}
	
	#secnav {
		display: block; 
	} 
}

@media (max-width: 600px) {
  /* line 354, ../sass/screen.scss */
	header { 
		margin-top: 1.5em;
	} 
	nav { 
		width: 100%; 
		font-size: 13.5px;
	}
	#secnav { 
		top: 9em; 
		@include border-radius(5px 5px 5px 5px);
	}
	
	#tt_link {@include adjust-font-size-to($large);} 
	
	article:nth-child(1) { 
		padding: 9em 0 2em 0;
	} 
	
	article {
		padding: 1em 0; 
	}
	
	article h1 { 
		margin: .5em 0;
	} 
	
	.two, 
	.one-third { 
		width: 90%;
		clear: both;
		margin: 0 4.5%;
	} 
	
	.four,
	.three-forths { 
		width: 40%;
		margin: 0 4.5%;
	} 
}