/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, ../sass/screen.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* line 35, ../sass/screen.scss */
p {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 18px;
  line-height: 1.5;
}

/* line 41, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #2372e8;
}

/* line 46, ../sass/screen.scss */
a:hover {
  color: #e84923;
  text-shadow: #e84923 1px 1px 2px;
}

/* line 51, ../sass/screen.scss */
label {
  display: block;
  text-align: center;
}

/* line 56, ../sass/screen.scss */
input {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  background-color: #fdf5f4;
  width: 90%;
  display: block;
  padding: 9px;
  margin: 0 auto;
  border: none;
}

/* line 70, ../sass/screen.scss */
header {
  text-align: center;
  width: 33%;
  height: 100%;
  background-color: #f4f7fd;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 83, ../sass/screen.scss */
header h1 {
  font-size: 40.5px;
  text-transform: lowercase;
  font-weight: 18px;
  letter-spacing: -2.25px;
  margin: 9px auto;
}
/* line 92, ../sass/screen.scss */
header h2 {
  font-size: 18px;
  font-family: "Sorts Mill Goudy", serif;
  text-transform: lowercase;
  font-style: italic;
  color: #e84923;
}

/* line 101, ../sass/screen.scss */
nav {
  text-align: center;
}
/* line 105, ../sass/screen.scss */
nav a {
  width: 50%;
  display: inline-block;
  padding: 9px;
  -webkit-border-radius: 9px 9px;
  -moz-border-radius: 9px / 9px;
  border-radius: 9px / 9px;
  -webkit-box-shadow: #113974 1px 1px 1px 1px, #081c3a 1px 1px 1px 1px;
  -moz-box-shadow: #113974 1px 1px 1px 1px, #081c3a 1px 1px 1px 1px;
  box-shadow: #113974 1px 1px 1px 1px, #081c3a 1px 1px 1px 1px;
  margin: 9px auto;
  border: solid #2372e8 1px;
  background-color: #1a55ae;
  color: white;
  font-weight: 900;
  text-shadow: #081c3a 1px 1px 2px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}
/* line 122, ../sass/screen.scss */
nav a:hover {
  border: solid #e84923 1px;
  background-color: #081c3a;
  -webkit-box-shadow: #742411 1px 1px 1px 1px, #3a1208 1px 1px 1px 1px;
  -moz-box-shadow: #742411 1px 1px 1px 1px, #3a1208 1px 1px 1px 1px;
  box-shadow: #742411 1px 1px 1px 1px, #3a1208 1px 1px 1px 1px;
}

/* line 129, ../sass/screen.scss */
footer {
  position: fixed;
  bottom: 0;
  background-color: #081c3a;
  width: 100%;
}
/* line 135, ../sass/screen.scss */
footer h6 {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-align: center;
  padding: 9px;
  font-size: 9px;
  color: white;
}

/* line 145, ../sass/screen.scss */
article {
  float: right;
  width: 66%;
  margin-bottom: 60.75px;
  text-align: left;
}
/* line 152, ../sass/screen.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  text-align: center;
}
/* line 154, ../sass/screen.scss */
article h1 {
  font-size: 60.75px;
  text-align: center;
  margin: 18px auto;
  font-weight: 900;
}
/* line 161, ../sass/screen.scss */
article h2 {
  font-size: 40.5px;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin: 9px auto;
  font-weight: 18px;
}
/* line 169, ../sass/screen.scss */
article h3 {
  font-size: 27px;
  font-family: "Sorts Mill Goudy", serif;
  margin: 6px auto;
}

/* line 176, ../sass/screen.scss */
section {
  margin: 60.75px auto;
}

/* line 180, ../sass/screen.scss */
.normal {
  font-size: 18px;
}

/* line 184, ../sass/screen.scss */
.highlight {
  background-color: #e84923;
  color: white;
  padding: 4.5px;
  display: inline-block;
  -webkit-border-radius: 9px 9px;
  -moz-border-radius: 9px / 9px;
  border-radius: 9px / 9px;
}

/* line 192, ../sass/screen.scss */
.black {
  color: black;
}

/* line 198, ../sass/screen.scss */
.services li {
  margin: 9px auto;
}
/* line 202, ../sass/screen.scss */
.services .name {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 27px;
}
/* line 208, ../sass/screen.scss */
.services .description {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 18px;
}

/* line 216, ../sass/screen.scss */
.register p, .login p, .album_creator p, .project_creator p,
.thought_creator p, .service_creator p, .user_editor p, .project_editor p {
  margin: 9px auto;
  font-size: 18px;
}
/* line 221, ../sass/screen.scss */
.register h3, .login h3, .album_creator h3, .project_creator h3,
.thought_creator h3, .service_creator h3, .user_editor h3, .project_editor h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

/* line 227, ../sass/screen.scss */
.album_destroyer, .project_destroyer, .thought_destroyer {
  text-align: center;
}
/* line 230, ../sass/screen.scss */
.album_destroyer p, .project_destroyer p, .thought_destroyer p {
  margin: 40.5px auto;
}
/* line 234, ../sass/screen.scss */
.album_destroyer input, .project_destroyer input, .thought_destroyer input {
  margin: 40.5px auto;
}

/* line 239, ../sass/screen.scss */
.admin_controls {
  text-align: center;
}
