/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass"; 

$sans_serif: 'Lato', sans-serif;
$serif: 'Sorts Mill Goudy', serif;

$normal: 300; 
$medium: 400; 
$bold: 900; 

$normal: 18px; 
$small: $normal / 2; 
$tiny: $small / 1.5; 
$medium: $normal * 1.5;
$large: $medium * 1.5; 
$huge: $large * 1.5; 

$blue: #2372e8; 
$orange: #e84923;

h1, 
h2,
h3,
h4,
h5,
h6 { 
	font-family: $sans_serif;
}

p { 
	font-family: $serif;
	font-size: $normal;
	line-height: 1.5;
}

a { 
	text-decoration: none; 
	color: $blue;
	@include transition-property(all);
  	@include transition-duration(1s);
}

a:hover { 
	color: $orange;
	@include text-shadow($orange 1px 1px 2px);
}

label { 
	display: block;
	text-align: center;
}

input, textarea { 
	font-size: $medium;
	font-family: $sans_serif;
	font-weight: $bold;
	text-align: center;

	background-color: tint($orange, 95);
	width: 90%;
	display: block;
	padding: $small;
	margin: 0 auto;
	border: none;

	@include border-radius($small, $small); 

	@include transition-property(all);
  	@include transition-duration(.5s);
}

input[type=submit]{
	background-color: $blue;
	color:white; 
}

input[type=submit]:hover {
	background-color: shade($blue, 99);
	color: $blue;
	width: 50%;
}

input:hover, input:active, input:focus,
textarea:hover, textarea:active, textarea:focus {
	background-color: $orange; 
	color: white;
}

img { 
	margin: $medium auto;
	display: block;
}

header { 

	@include background(image-url("bluepattern.png"));
	
	text-align: center;

	width: 33%;
	height: 100%;

	background-color: tint($blue, 95);

	position: fixed; 
	top: 0; 
	left: 0;

	h1 { 
		font-size: $large; 
		text-transform: lowercase; 
		font-weight: $normal; 
		letter-spacing: -$small/4; 
		margin: $small auto;

	}

	h2 { 
		font-size: $normal; 
		font-family: $serif; 
		text-transform: lowercase; 
		font-style: italic; 
		color: $orange;
	}
}

nav { 

	text-align: center; 

	a { 
		width: 50%;
		display: inline-block; 
		padding: $small; 
		@include border-radius($small, $small);
		@include box-shadow(shade($blue, 50) 1px 1px 1px 1px, shade($blue, 75) 1px 1px 1px 1px);
		margin: $small auto;
		border: solid $blue 1px;
		background-color: $blue;
		
		color: white;
		font-weight: $bold;
		@include text-shadow(shade($blue, 75) 1px 1px 2px);
		text-transform: uppercase; 
		letter-spacing: $small / 4;
	}

	a:hover { 
		border: solid $orange 1px;
		background-color: $orange;
		color:white;
		@include box-shadow($orange 1px 1px 5px 1px);
	}
}

footer { 
	position: fixed; 
	bottom: 0;
	background-color: $blue;
	width: 100%;

	h6 { 
		text-transform: uppercase; 
		letter-spacing: $small;
		text-align: center;
		padding: $small;
		font-size: $small;
		color: white;
	}
}

article { 
	float: right;
	width: 66%;
	margin-bottom: $huge;

	text-align: left;

	h1, h2, h3, h4, h5, h6 {text-align: center;} 

	h1 { 
		font-size: $huge; 
		text-align: center; 
		margin: $normal auto;
		font-weight: $bold;
	}

	h2 { 
		font-size: $large; 
		text-transform: uppercase; 
		letter-spacing: $small;
		margin: $small auto;
		font-weight: $normal;
	}

	h3 { 
		font-size: $medium;
		font-family: $serif;
		margin: $tiny auto;
	}

	ul { 
		width: 75%; 
		margin: 0 auto;
		ul { 
			width: 100%;
		}
	}

	p {
		width: 75%;
		margin: 0 auto;
	}
}

section { 
	margin: $huge auto;
}

.normal { 
	font-size: $normal;
}

.highlight {
	background-color: $orange; 
	font-style: italic;
	color: white;
	padding: $small/2; 
	margin: $small/2;
	margin-left: 0;
	display: inline-block;
	@include border-radius($small, $small);
}

.black { 
	color: black;
}

.services { 

	li { 
		margin: $small auto;
	}

	.name { 
		font-family: $sans_serif; 
		font-weight: $bold; 
		font-size: $medium;
	}

	.description, .cost { 
		font-family: $serif; 
		font-size: $normal;
	}
}

.user_editor { 
	p {
		text-align: center;
	}
}

.register, .login, .album_creator, .project_creator, 
.thought_creator, .service_creator, .project_editor,
.service_editor, .user_editor {
	p {
		margin: $normal auto;
		font-size: $normal;
	}

	h3 { 
		font-family: $sans_serif; 
		font-weight: $bold;
	}
}

.album_destroyer, .project_destroyer, .thought_destroyer,
.service_destroyer {
	text-align: center;

	p { 
		margin: $large auto;
	}

	input { 
		margin: $large auto;
	}
}

.admin_controls { 
	text-align: center;
}

.album { 
	h3 { 
		font-family: $sans_serif;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: $normal;
		letter-spacing: $small;
	}
}