/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass"; 

$sans_serif: 'Lato', sans-serif;
$serif: 'Sorts Mill Goudy', serif;

$normal: 300; 
$medium: 400; 
$bold: 900; 

$normal: 18px; 
$small: $normal / 2; 
$tiny: $small / 1.5; 
$medium: $normal * 1.5;
$large: $medium * 1.5; 
$huge: $large * 1.5; 

$blue: #199B71;/*#2372e8;*/ 
$green: #19589C;
$orange:#E8B923;
$purple: #3A23E8;

body { 
	min-width: 840px;
}

h1, 
h2,
h3,
h4,
h5,
h6 { 
	font-family: $sans_serif;
	color: $green;
}

p { 
	font-family: $serif;
	font-size: $normal;
	line-height: 1.5;
	color: $green;
}

a { 
	text-decoration: none; 
	color: $blue;
	@include transition-property(all);
  	@include transition-duration(.5s);
}

a:hover { 
	color: $green;
	@include text-shadow($green 1px 1px 2px);
}

label { 
	display: block;
	text-align: center;
	font-family: $serif; 
	text-transform: uppercase;
	letter-spacing: $tiny; 
	font-style: italic;
	font-size: $small;
	margin: $medium auto;
}

input, textarea { 
	font-size: $medium;
	font-family: $sans_serif;
	font-weight: $normal;
	text-align: center;

	background-color: tint($green, 95);
	width: 90%;
	display: block;
	padding: $small;
	margin: 0 auto;
	border: none;

	@include border-radius($small, $small); 

	@include transition-property(all);
  	@include transition-duration(.5s);
}

textarea {
	font-family: $serif;
	font-weight: normal;
	font-size: $normal;
	text-align: justify;
	padding: $medium;
}

input[type=submit]{
	background-color: $blue;
	color:white; 
}

input[type=submit]:hover {
	background-color: $green;
	@include box-shadow(black 0 2px 5px 0);
	color: white;
	width: 50%;
}

input:active, input:focus,
textarea:active, textarea:focus,
{
	background-color: $green; 
	color: white;
	border: none;
	@include box-shadow(black 0 2px 5px 0);
}

.button { 
	display: block; 
	margin: 0 auto; 
	width: 30%; 
	background: tint($green, 95);
	text-align: center; 
	padding: $small;

}

.button:hover {
    background: #333;
    cursor: pointer;
}

hr {
	width: 80%;
	margin: $medium auto;
	border: solid tint($blue, 90) 1px;
	color: tint($blue, 90);
	background-color: tint($blue, 90);
}

img { 
	margin: $medium auto;
	display: block;
}

header { 

	@include background(image-url("bluepattern.png"));
	
	text-align: center;

	width: 25%;
	height: 100%;

	background-color: tint($blue, 95);

	float: left;

	@include box-shadow(tint(black, 75) 0px 0px 2px 0px);

	h1 { 
		font-size: $large; 
		text-transform: lowercase; 
		font-weight: $normal; 
		letter-spacing: -$small/4; 
		margin: $small auto;

	}

	h2 { 
		font-size: $normal; 
		font-family: $serif; 
		text-transform: lowercase; 
		font-style: italic; 
		color: $green;
	}
}

nav { 

	text-align: center; 

	h1 { 
		font-size: $small*1.5; 
		text-transform: uppercase; 
		letter-spacing: $tiny;
		font-weight: $bold;
		color: $blue;
	}

	section { 
		margin: $small/2 auto;
		width: 75%; 
		@include border-radius($small, $small);
	}

	a { 
		font-size: $normal;
		font-family: $serif;
		font-style: italic;

		width: 90%;
		display: inline-block; 
		padding: $small/2; 
		@include border-radius($small, $small);
		margin: $small/2 auto;
		border: solid $blue 1px;
		background-color: $blue;
		
		color: white;

		@include text-shadow(shade($blue, 75) 1px 1px 2px);
		
		text-transform: lowercase; 
		letter-spacing: $small / 4;
	}

	a:hover { 
		border: solid $green 1px;
		background-color: $green;
		@include text-shadow(white 1px 1px 3px);
		color: $orange;
		
	}
}

footer { 
	position: fixed; 
	bottom: 0;
	background-color: $green;
	width: 100%;

	@include box-shadow(black 2px 2px 3px 1px);

	h6 { 
		text-transform: uppercase; 
		letter-spacing: $small;
		text-align: center;
		padding: $small;
		font-size: $small;
		color: white;
	}
}

article { 
	float: right;
	width: 75%;
	margin-bottom: $huge;

	text-align: left;

	h1, h2, h3, h4, h5, h6 {text-align: center;} 

	h1 { 
		font-size: $huge; 
		text-align: center; 
		letter-spacing: - $tiny/2;
		margin: $normal auto;
		font-weight: $bold;
	}

	h2 { 
		font-size: $large/1.5; 
		text-transform: uppercase; 
		letter-spacing: $small;
		margin: $normal auto;
		font-weight: $normal;
	}

	h3 { 
		font-size: $huge;
		font-family: $serif;
		letter-spacing: - $tiny/4;
		margin: $tiny auto;
	}

	h4 {
		letter-spacing: $tiny/4;
		font-size: $normal;

	}

	ul { 
		width: 75%; 
		margin: 0 auto;
		ul { 
			width: 100%;
		}
	}

	p {
		width: 75%;
		margin: 0 auto;
	}
}

section { 
	margin: $huge auto;
}

.normal { 
	font-size: $normal;
}

.highlight {
	background-color: $green; 
	font-style: italic;
	color: $orange;
	padding: $small/2; 
	margin: $small/2;
	margin-left: 0;
	display: inline-block;
	@include border-radius($small, $small);
}

.black { 
	color: black;
}

.services { 

	.name { 
		font-family: $serif; 
		font-size: $large;
		font-style: italic;
	}

	.description, .cost { 
		font-family: $serif; 
		font-size: $normal;
		margin: $medium auto;
	}

	.service a { text-align: center; }
}

.user_editor { 
	p {
		text-align: center;
	}
}

.register, .login, .album_creator, .project_creator, 
.thought_creator, .service_creator, .project_editor,
.service_editor, .user_editor, .order_creator, 
.order_editor, .job_creator, .job_editor, .skill_creator, 
.skill_editor, .comment_creator, .comment_editor {
	p {
		margin: $normal auto;
		font-size: $normal;
	}

	h3 { 
		font-family: $sans_serif; 
		font-weight: $bold;
	}
}

.comment_creator{
	
	padding: $normal;

	input {
		background-color: $green;

		font-size: $normal;
		font-weight: 300;
		text-transform: uppercase;
	}

	input[type=text]{
		width: 70%;
		float:left;
		margin-right: 5%;
		text-transform: none;
	}

	input[type=submit]{
		width: 25%;
		float:right;	
	}
}

.album_destroyer, .project_destroyer, .thought_destroyer,
.service_destroyer, .order_destroyer, .skill_destroyer, 
.job_destroyer, .comment_destroyer {
	text-align: center;

	p { 
		margin: $large auto;
	}

	input { 
		margin: $large auto;
	}
}

.admin_controls, .controls { 
	text-align: center;
	background: $green;
	@include border-radius($small, $small);
	@include transition-property(all);
  	@include transition-duration(.5s);
  	color: $blue;

  	h4 { 
  		color: $blue;
  	}
	
	a{
		color: white;
		padding: $tiny;
		text-transform: uppercase;
		font-weight: $normal;
		letter-spacing: $tiny;
		font-size: $small;
	}
	
	a:hover {
		color: tint($green, 50);
	}
	
	width: 30%;
	padding: $normal;
}

.admin_controls:hover, .controls:hover {
	@include box-shadow(black 0 2px 5px 0, shade($green, 50) 0 -2px 10px 5px inset);
	color: white;
	a:hover {
		color: $orange;
	}
}

.album { 
	h3 { 
		font-family: $sans_serif;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: $normal;
		letter-spacing: $small;
	}
}

.order, .album, .project, .thought, .service {
	background-color: tint($blue, 98);
	border: solid tint($blue, 90) 1px;
	@include box-shadow(tint($blue, 90) 1px 1px 5px 1px inset);
	width: 80%; 
	@include border-radius($huge, $huge);
	padding: $normal;
	margin: $normal auto 0; 
}

.order { 
	h4 { 
		margin: $small auto $large;
	}
}

.comment {
	margin: $large auto;
}