/*http://www.colorcombos.com/color-schemes/424/ColorCombo424.html*/

/* HTML5 Support *********************************************************/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  	display: block;
}
/* Background ************************************************************/
body
{
	background-color: #2A75A9;
}
/* Title *****************************************************************/
header
{
	float: left; 
	width: 190px;
	border: 3px solid #644436;
	background-color: #8F6048; 
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px; 
}

#tselected:visited
{
	color: #DFC184;
	
	text-shadow: 5px 5px 5px #644436;
}

#tselected
{
	color: #DFC184;
	line-height: 100px;
	font-size: 35px;
	text-shadow: 5px 5px 5px #644436;
}

#titlel
{
	color:#7EB5D6;
	font-size: 35px;
	text-shadow: 0 0 0 #644436;
	line-height: 100px;
	
	-webkit-transition-property: text-shadow;
       -moz-transition-property: text-shadow;
         -o-transition-property: text-shadow; 
            transition-property: text-shadow;
    -webkit-transition-duration: .25s;
       -moz-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

#titlel:hover
{
	color:#DFC184;
	text-shadow: 5px 5px 5px #644436;
	
}
/* Navigation *************************************************************/
nav
{
	text-align: center;
}

nav ul
{
	margin: 0;
	padding: 3px;
	list-style-type: none;
	text-align: left; 
}

nav ul li { 
	display: block;
	padding: 5px;
}

nav ul li a
{
	background-color:#8F6048; 
	color: #7EB5D6; 
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
	line-height: 50px;
	padding: 5px 5px 5px 5px;
	margin: 5px;
	text-decoration: none; 
	text-shadow: 0px 0px 0px #644436;
	
 	-webkit-transition-property: color;
       -moz-transition-property: color;
         -o-transition-property: color; 
            transition-property: color;
    -webkit-transition-duration: 200ms;
       -moz-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
            
    -webkit-transition-property: text-shadow;
       -moz-transition-property: text-shadow;
         -o-transition-property: text-shadow; 
            transition-property: text-shadow;
    -webkit-transition-duration: .25s;
       -moz-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

nav ul li a:hover
{
	color: #DFC184;
	text-shadow: 5px 5px 5px #644436;
}

.selected a
{
	color: #DFC184;
	text-shadow: 5px 5px 5px #644436;
}

/* Content *****************************************************************/
article
{ 
	float: left;
	margin-left: 5px;
	padding: 20px;
	width: 500px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px; 
	background-color: #7EB5D6; 
	border: 3px solid #644436;
}
/* Recordings **************************************************************/
.album
{
	width: 200px;
	height: 200px;
	float:left;
	display:block;
	border: 3px solid #644436;
	margin: 5px;
	padding: 0px;
	opacity: 1;
	
	-webkit-transition-property: opacity;
       -moz-transition-property: border-width;
         -o-transition-property: border-width; 
            transition-property: border-width;
    -webkit-transition-duration: .5s;
       -moz-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
            
}

.album:hover
{
	opacity: .5;
}



h2,
h3,
h4, 
h5,
h6, 
p
{
	color: #644436; 	
}

h2,
h3,
h6{
	font-family: 'Wire One', sans-serif;
}

a
{
	text-decoration:none;
}

/*General Content*/
p { 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 24px;
	letter-spacing: 1px;
	text-align:justify;
	text-justify:inter-word;
	line-height:250%;
}


/*Section header*/
h2
{
	font-size: 40px;
	letter-spacing: 10px;  
	text-align: center;
}

h3
{
	font-size: 30px;
	letter-spacing: 5px;
}

/*Skill Type*/ 
h4
{ 
	font-family: 'Open Sans Condensed', sans-serif; 
	margin-bottom:15px;
	text-align: left;
	font-size: 20px; 
	letter-spacing: 1px; 
	
}

/*Skills*/
h5
{
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 20px;
	text-align:justify;
	text-justify:inter-word;
	line-height:100%;
	margin-top:0;
	margin-bottom:0;
}

/*Footer*/
h6{ 
	font-size: 26px; 
	letter-spacing: 2px; 
}


/*EXPERIENCE*/ 
#ed, 
#work, 
.pos_title
.more_info
{
	padding-left: 10px; 
}

.exp_type
{
	text-align: center; 
}

.organization 
{

}

.skills 
{
	font-family: 'Open Sans Condensed', sans-serif; 
	color: #644436; 
	font-size: 20px;
	text-align:justify;
	text-justify:inter-word;
	letter-spacing: 2px; 
	line-height:150%;
	margin-top:0;
	margin-bottom:0;
}

/*CONTACT*/
.address 
{
	line-height: 75%;
}

/*BOTTOM*/
#f
{
	color: #7EB5D6;
	font-size: 30px;
	letter-spacing: 5px;
	text-align: center;
	text-shadow: 2px 2px 2px #644436;
}

footer
{ 
	clear: both; 
}
