/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Variables*/
/*Vertical Rhythm*/
/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.5em;
}

/* line 35, ../sass/screen.scss */
html,
body {
  height: 100%;
  width: 100%;
}

/* line 41, ../sass/screen.scss */
body {
  background-color: #e89b27;
  margin: 0 auto;
}

/* TYPOGRAPHY */
/* line 48, ../sass/screen.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
  font-family: "Raleway";
  margin-bottom: 1.5em;
}

/* line 54, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  font-family: "BenchNine";
  letter-spacing: 3px;
  font-weight: 700;
}

/* line 61, ../sass/screen.scss */
h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Ubuntu Mono";
}

/* line 66, ../sass/screen.scss */
p {
  font-size: 0.75em;
  line-height: 2em;
  font-family: "Ubuntu Mono";
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 72, ../sass/screen.scss */
ul {
  margin-left: .25em;
}

/* line 76, ../sass/screen.scss */
li {
  font-size: 13.5px;
  line-height: 150%;
}

/* HEADER */
/* line 83, ../sass/screen.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(39, 155, 232, 0.95);
  text-align: center;
  padding: .5em 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-shadow: #0a214b 0px 0px 2px 2px;
  -moz-box-shadow: #0a214b 0px 0px 2px 2px;
  box-shadow: #0a214b 0px 0px 2px 2px;
  text-transform: uppercase;
}
/* line 93, ../sass/screen.scss */
header a, header a:visited {
  color: #e6f9ff;
}
/* line 94, ../sass/screen.scss */
header a:hover, header a:visited:hover {
  font-style: italic;
}
/* line 95, ../sass/screen.scss */
header h1 {
  font-size: 1.6875em;
  line-height: 1.77778em;
  font-family: "BenchNine";
  font-weight: 300;
  letter-spacing: 4.5px;
  margin-bottom: 0;
}
/* line 102, ../sass/screen.scss */
header h2 {
  font-weight: 300;
  letter-spacing: 4.5px;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 108, ../sass/screen.scss */
header section {
  background-color: #279be8;
}

/* line 113, ../sass/screen.scss */
#bloglink {
  padding-left: .25em;
}

/* line 116, ../sass/screen.scss */
nav {
  background-color: #144396;
  padding: .5em 0;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  -webkit-box-shadow: #0a214b 0px 0px 1px 1px inset, #0a214b 0px 0px 5px 1px;
  -moz-box-shadow: #0a214b 0px 0px 1px 1px inset, #0a214b 0px 0px 5px 1px;
  box-shadow: #0a214b 0px 0px 1px 1px inset, #0a214b 0px 0px 5px 1px;
}
/* line 122, ../sass/screen.scss */
nav a {
  padding: .25em;
  margin: 0 .25em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #e6f9ff;
}
/* line 131, ../sass/screen.scss */
nav a:hover,
nav a:visited:hover,
nav .selected {
  background-color: #279be8;
  color: #144396;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: #0a214b 0px 0px 1px 1px inset, #279be8 0px 0px 1px 1px;
  -moz-box-shadow: #0a214b 0px 0px 1px 1px inset, #279be8 0px 0px 1px 1px;
  box-shadow: #0a214b 0px 0px 1px 1px inset, #279be8 0px 0px 1px 1px;
}
/* line 137, ../sass/screen.scss */
nav section {
  width: 100%;
  background-color: #279be8;
  margin-top: .5em;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 142, ../sass/screen.scss */
nav section a {
  font-family: "ubuntu mono";
}
/* line 145, ../sass/screen.scss */
nav section a:hover {
  font-style: italic;
}
/* line 148, ../sass/screen.scss */
nav section p {
  font-family: "ubuntu mono";
  color: #e6f9ff;
  padding-right: 1em;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}

/* line 158, ../sass/screen.scss */
#mastnav {
  position: fixed;
  top: 0;
  right: 0;
}

/* line 164, ../sass/screen.scss */
#secnav {
  position: fixed;
  left: 0;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  font-family: "BenchNine";
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 174, ../sass/screen.scss */
#contact,
#address {
  font-size: 18px;
  background-color: #279be8;
  margin-bottom: 0;
  padding-right: 1em;
  text-align: right;
}
/* line 175, ../sass/screen.scss */
#contact a,
#address a {
  margin-top: 1em;
}
/* line 176, ../sass/screen.scss */
#contact a:hover,
#address a:hover {
  box-shadow: none;
}

/* line 184, ../sass/screen.scss */
#musiclink {
  font-family: "Merriweather";
  font-weight: 300;
}

/* line 191, ../sass/screen.scss */
#weblink,
#contactlink {
  font-family: "ubuntu mono";
  font-weight: 400;
}

/* line 196, ../sass/screen.scss */
#contactlink {
  font-style: italic;
}

/* line 200, ../sass/screen.scss */
#resumelink {
  font-family: "Raleway";
}

/* line 205, ../sass/screen.scss */
aside {
  margin-top: 7em;
  margin-right: 20px;
  float: right;
}

/* line 212, ../sass/screen.scss */
article {
  padding: 7.5em 0 2em 0;
  width: 100%;
  float: right;
  text-align: right;
  color: #e6f9ff;
}
/* line 218, ../sass/screen.scss */
article ul {
  font-family: "Ubuntu Mono";
  font-size: 1.66667em;
  line-height: 1.8em;
}

/* line 224, ../sass/screen.scss */
button {
  display: inline-block;
  margin: 0 auto;
}

/* line 229, ../sass/screen.scss */
img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 231, ../sass/screen.scss */
.one {
  width: 90%;
  clear: both;
  margin: 0 4.5%;
}

/* line 240, ../sass/screen.scss */
.one-third {
  width: 30%;
  margin: 0 1.6%;
}

/* line 245, ../sass/screen.scss */
.two {
  width: 40%;
  margin: 0 4.5%;
}

/* line 250, ../sass/screen.scss */
.three-forths {
  width: 69%;
  margin: 0 3%;
}

/* line 255, ../sass/screen.scss */
.four {
  width: 23%;
  margin: 0 1%;
}

/* line 260, ../sass/screen.scss */
.columns {
  float: left;
}

/* line 265, ../sass/screen.scss */
a {
  color: #144396;
  text-decoration: none;
}

/* line 271, ../sass/screen.scss */
a:hover {
  color: #e6f9ff;
}

/* line 275, ../sass/screen.scss */
.buttons {
  text-align: center;
  padding: 0 0 2em 0;
}

/* line 280, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 281, ../sass/screen.scss */
.left {
  text-align: left;
}

/* line 282, ../sass/screen.scss */
.justify {
  text-align: justify;
}

/* line 283, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 284, ../sass/screen.scss */
.obscure {
  color: #c78015;
}

/* line 285, ../sass/screen.scss */
.initblank {
  display: none;
}

/*Page Styles*/
/*Home*/
/* line 291, ../sass/screen.scss */
.greeting {
  text-align: center;
}
/* line 293, ../sass/screen.scss */
.greeting img {
  -webkit-border-radius: 300px 300px;
  -moz-border-radius: 300px / 300px;
  border-radius: 300px / 300px;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}
/* line 302, ../sass/screen.scss */
.greeting p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 309, ../sass/screen.scss */
aside img {
  float: left;
  margin: 0 auto 0 0;
}

/* line 321, ../sass/screen.scss */
#musiclanding a:hover,
#currentprojects a:hover,
#discography a:hover {
  color: #e6f9ff;
}

/* line 327, ../sass/screen.scss */
#currentprojects {
  background-color: #144396;
}
/* line 328, ../sass/screen.scss */
#currentprojects img {
  max-width: 300px;
  width: 100%;
  margin: 2em auto;
  display: block;
}
/* line 335, ../sass/screen.scss */
#currentprojects .one img {
  max-width: 800px;
  width: 100%;
}
/* line 340, ../sass/screen.scss */
#currentprojects h1 {
  text-align: center;
}
/* line 341, ../sass/screen.scss */
#currentprojects a {
  color: #89a1ca;
}

/* line 346, ../sass/screen.scss */
#discography {
  background-color: #e89b27;
  text-align: center;
}
/* line 349, ../sass/screen.scss */
#discography section {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 353, ../sass/screen.scss */
#discography h4, #discography h5 {
  font-family: "BenchNine";
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 358, ../sass/screen.scss */
#discography h4 {
  font-size: 1.5em;
  line-height: 2em;
}
/* line 361, ../sass/screen.scss */
#discography h5 {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 364, ../sass/screen.scss */
#discography a {
  font-family: "Ubuntu mono";
  font-size: 16px;
  color: #744d13;
}
/* line 369, ../sass/screen.scss */
#discography img {
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 378, ../sass/screen.scss */
#tt_link {
  font-size: 4em;
  line-height: 1.125em;
  border: #744d13 solid 2px;
  font-family: "BenchNine";
  text-transform: uppercase;
  color: #fbf0de;
  background-color: #ae741d;
  -webkit-box-shadow: #744d13 0px 0px 5px 1px;
  -moz-box-shadow: #744d13 0px 0px 5px 1px;
  box-shadow: #744d13 0px 0px 5px 1px;
  margin: 1em auto;
}

/* line 389, ../sass/screen.scss */
#tt_link:hover {
  background-color: #744d13;
  color: #f3cd93;
  text-shadow: black 1px 1px 1px;
  -webkit-box-shadow: black 0px 0px 2px 1px;
  -moz-box-shadow: black 0px 0px 2px 1px;
  box-shadow: black 0px 0px 2px 1px;
}

/*WEB*/
/* line 398, ../sass/screen.scss */
#portfolio {
  text-align: center;
  background-color: #e89b27;
}
/* line 401, ../sass/screen.scss */
#portfolio h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 405, ../sass/screen.scss */
#portfolio a {
  color: #e6f9ff;
}
/* line 408, ../sass/screen.scss */
#portfolio p {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
/* line 413, ../sass/screen.scss */
#portfolio img {
  width: 90%;
  margin-top: 2em;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
}

/* line 424, ../sass/screen.scss */
#selfpromotion {
  background-color: #144396;
}
/* line 426, ../sass/screen.scss */
#selfpromotion h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 430, ../sass/screen.scss */
#selfpromotion h1, #selfpromotion h2 {
  text-align: center;
}
/* line 431, ../sass/screen.scss */
#selfpromotion p {
  margin-top: 2em;
  font-size: 1em;
}
/* line 435, ../sass/screen.scss */
#selfpromotion ol {
  margin-top: 1.75em;
}
/* line 438, ../sass/screen.scss */
#selfpromotion li {
  font-family: "Ubuntu mono";
  text-align: center;
  line-height: 1.8em;
}
/* line 443, ../sass/screen.scss */
#selfpromotion h2 a, #selfpromotion a:visited {
  color: #279be8;
}
/* line 444, ../sass/screen.scss */
#selfpromotion h2 a:hover, #selfpromotion a:visited:hover {
  color: white;
}
/* line 445, ../sass/screen.scss */
#selfpromotion .one {
  text-align: center;
}
/* line 448, ../sass/screen.scss */
#selfpromotion button {
  width: 100px;
  height: 100px;
  margin: .25em;
  background-color: #1d74ae;
  font-size: 4em;
  line-height: 1.125em;
  border: #279be8 solid 2px;
  -webkit-box-shadow: #134d74 0px 0px 2px 1px;
  -moz-box-shadow: #134d74 0px 0px 2px 1px;
  box-shadow: #134d74 0px 0px 2px 1px;
  color: white;
  font-family: "BenchNine";
}
/* line 460, ../sass/screen.scss */
#selfpromotion button:hover {
  background-color: #09263a;
  text-shadow: #279be8 1px 1px 1px;
}

/*Resume*/
/* line 469, ../sass/screen.scss */
#experience {
  background-color: #144396;
  text-align: center;
}

/* line 474, ../sass/screen.scss */
#exp_button {
  font-family: "BenchNine";
  text-transform: Uppercase;
  font-weight: 300;
  background-color: #ae741d;
  border: #e89b27 solid 2px;
  color: white;
  -webkit-box-shadow: #ae741d 0px 0px 2px 2px;
  -moz-box-shadow: #ae741d 0px 0px 2px 2px;
  box-shadow: #ae741d 0px 0px 2px 2px;
  font-size: 1.5em;
  line-height: 2em;
}

/* line 485, ../sass/screen.scss */
#exp_button:hover {
  background-color: #3a2609;
  -webkit-box-shadow: #3a2609 0px 0px 2px 2px;
  -moz-box-shadow: #3a2609 0px 0px 2px 2px;
  box-shadow: #3a2609 0px 0px 2px 2px;
}

/* Responsive */
@media (max-width: 1024px) {
  /* line 354, ../sass/screen.scss */
  /* line 494, ../sass/screen.scss */
  header {
    text-align: left;
    padding-left: 2em;
  }

  /* line 498, ../sass/screen.scss */
  #secnav {
    top: 5em;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  /* line 503, ../sass/screen.scss */
  #discography h4,
  #discography h5 {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0px;
  }

  /* line 506, ../sass/screen.scss */
  .one-third {
    width: 40%;
    margin: 0 4.5%;
  }

  /* line 511, ../sass/screen.scss */
  .one-third:nth-child(3) {
    width: 90%;
    clear: both;
    margin: 0 4.5%;
  }

  /* line 517, ../sass/screen.scss */
  #education ul {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  /* line 523, ../sass/screen.scss */
  #exp_button {
    display: none;
  }

  /* line 527, ../sass/screen.scss */
  #secnav {
    display: block;
  }
}
@media (max-width: 600px) {
  /* line 354, ../sass/screen.scss */
  /* line 534, ../sass/screen.scss */
  header {
    margin-top: 1.5em;
  }

  /* line 537, ../sass/screen.scss */
  nav {
    width: 100%;
    font-size: 13.5px;
  }

  /* line 541, ../sass/screen.scss */
  #secnav {
    top: 9em;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  /* line 546, ../sass/screen.scss */
  #tt_link {
    font-size: 2.25em;
    line-height: 1.33333em;
  }

  /* line 548, ../sass/screen.scss */
  article:nth-child(1) {
    padding: 9em 0 2em 0;
  }

  /* line 552, ../sass/screen.scss */
  article {
    padding: 1em 0;
  }

  /* line 556, ../sass/screen.scss */
  article h1 {
    margin: .5em 0;
  }

  /* line 561, ../sass/screen.scss */
  .two,
  .one-third {
    width: 90%;
    clear: both;
    margin: 0 4.5%;
  }

  /* line 568, ../sass/screen.scss */
  .four,
  .three-forths {
    width: 40%;
    margin: 0 4.5%;
  }
}
