/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Variables*/
/*Vertical Rhythm*/
/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.5em;
}

/* line 27, ../sass/screen.scss */
html,
body {
  height: 100%;
  width: 100%;
}

/* line 33, ../sass/screen.scss */
body {
  background-color: #e89b27;
  margin: 0 auto;
}

/*Responsive Design*/
@media (max-width: 320px) {
  /* line 43, ../sass/screen.scss */
  #currentprojects h1,
  #discography h1,
  #musiclanding h1 {
    font-size: 48.829px;
    letter-spacing: -1px;
  }

  /* line 52, ../sass/screen.scss */
  #bloglink,
  #musiclink,
  #weblink,
  #resumelink,
  #contactlink {
    font-size: 16px;
  }

  /* line 58, ../sass/screen.scss */
  #cp_link,
  #d_link {
    font-size: 20px;
  }

  /* line 63, ../sass/screen.scss */
  #titlelink {
    font-size: 16px;
    letter-spacing: 0px;
  }

  /* line 69, ../sass/screen.scss */
  .greeting {
    float: left;
    width: 350px;
  }
  /* line 72, ../sass/screen.scss */
  .greeting h1 {
    font-size: 58.594px;
  }
  /* line 75, ../sass/screen.scss */
  .greeting p {
    font-size: 12.8px;
    letter-spacing: -1px;
  }

  /* line 80, ../sass/screen.scss */
  #profile {
    height: 150px;
    width: 150px;
  }

  /* line 85, ../sass/screen.scss */
  #address p {
    font-size: 12.8px;
  }

  /* line 89, ../sass/screen.scss */
  #webdesignlanding article {
    width: 90%;
  }
  /* line 92, ../sass/screen.scss */
  #webdesignlanding h1 {
    font-size: 58.594px;
  }
  /* line 93, ../sass/screen.scss */
  #webdesignlanding p {
    font-size: 16px;
  }

  /* line 98, ../sass/screen.scss */
  #skills,
  #education,
  #about {
    margin-top: 0em;
    margin-bottom: .5em;
  }

  /* line 107, ../sass/screen.scss */
  #skills h1,
  #education h1,
  #about h1,
  #experience h1 {
    font-size: 30px;
    margin-bottom: .5em;
  }
  /* line 109, ../sass/screen.scss */
  #skills li,
  #education li,
  #about li,
  #experience li {
    font-size: 12.8px;
    letter-spacing: -2px;
  }
  /* line 111, ../sass/screen.scss */
  #skills p,
  #education p,
  #about p,
  #experience p {
    font-size: 12.8px;
  }

  /* line 117, ../sass/screen.scss */
  .four.columns,
  .two.columns,
  .three-forths.columns {
    width: 90%;
    margin: 0 5%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 127, ../sass/screen.scss */
  #currentprojects h1,
  #discography h1,
  #musiclanding h1 {
    font-size: 48.829px;
  }

  /* line 134, ../sass/screen.scss */
  #bloglink,
  #musiclink,
  #weblink,
  #resumelink,
  #contactlink {
    font-size: 16px;
  }

  /* line 140, ../sass/screen.scss */
  #cp_link,
  #d_link {
    font-size: 25px;
  }

  /* line 145, ../sass/screen.scss */
  #titlelink {
    font-size: 19.2px;
    letter-spacing: 0px;
  }

  /* line 150, ../sass/screen.scss */
  #address p {
    font-size: 12.8px;
  }

  /* line 153, ../sass/screen.scss */
  .greeting {
    float: left;
    width: 350px;
    margin-top: 1em;
  }
  /* line 157, ../sass/screen.scss */
  .greeting h1 {
    font-size: 76.95px;
    margin-top: 0em;
  }
  /* line 161, ../sass/screen.scss */
  .greeting p {
    font-size: 12.8px;
    letter-spacing: -1px;
  }

  /* line 169, ../sass/screen.scss */
  #webdesignlanding article {
    width: 90%;
  }
  /* line 172, ../sass/screen.scss */
  #webdesignlanding h1 {
    font-size: 58.594px;
  }
  /* line 173, ../sass/screen.scss */
  #webdesignlanding p {
    font-size: 16px;
  }

  /* line 177, ../sass/screen.scss */
  .sidebar {
    margin-top: .5em;
  }

  /* line 183, ../sass/screen.scss */
  #skills,
  #education,
  #about {
    margin-top: 0em;
    margin-bottom: .5em;
  }

  /* line 192, ../sass/screen.scss */
  #skills h1,
  #education h1,
  #about h1,
  #experience h1 {
    font-size: 30px;
    margin-bottom: .5em;
  }
  /* line 194, ../sass/screen.scss */
  #skills li,
  #education li,
  #about li,
  #experience li {
    font-size: 12.8px;
    letter-spacing: -2px;
  }
  /* line 196, ../sass/screen.scss */
  #skills p,
  #education p,
  #about p,
  #experience p {
    font-size: 12.8px;
  }

  /* line 202, ../sass/screen.scss */
  .two.columns,
  .four.columns,
  .three-forths.columns {
    width: 90%;
    margin: 0 5%;
  }

  /* line 207, ../sass/screen.scss */
  #currentprojects h1 {
    text-align: center;
    margin: 0;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  /* line 216, ../sass/screen.scss */
  #resumelink,
  #contactlink,
  #bloglink,
  #musiclink,
  #weblink {
    font-size: 16px;
  }

  /* line 226, ../sass/screen.scss */
  #currentprojects h1,
  #discography h1,
  #musiclanding h1,
  #skills h1,
  #education h1,
  #about h1,
  #experience h1 {
    font-size: 48.829px;
  }

  /* line 232, ../sass/screen.scss */
  #cp_link
  #d_link {
    font-size: 30px;
  }

  /* line 237, ../sass/screen.scss */
  #titlelink {
    font-size: 20px;
    letter-spacing: 2px;
  }

  /* line 243, ../sass/screen.scss */
  .greeting {
    float: left;
    width: 350px;
  }
  /* line 246, ../sass/screen.scss */
  .greeting h1 {
    font-size: 76.95px;
    margin-top: 0em;
  }
  /* line 250, ../sass/screen.scss */
  .greeting p {
    font-size: 15.8px;
    letter-spacing: -1px;
  }

  /* line 256, ../sass/screen.scss */
  .sidebar {
    margin-top: .2em;
  }

  /* line 263, ../sass/screen.scss */
  #webdesignlanding article {
    width: 90%;
  }
  /* line 266, ../sass/screen.scss */
  #webdesignlanding h1 {
    font-size: 58.594px;
  }
  /* line 267, ../sass/screen.scss */
  #webdesignlanding p {
    font-size: 16px;
  }

  /* line 273, ../sass/screen.scss */
  .two.columns,
  .four.columns,
  .three-forths {
    width: 90%;
    margin: auto 5%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* line 283, ../sass/screen.scss */
  #currentprojects h1,
  #discography h1,
  #musiclanding h1 {
    font-size: 61.036px;
  }

  /* line 289, ../sass/screen.scss */
  #cp_link,
  #d_link {
    font-size: 39.063px;
  }

  /* line 294, ../sass/screen.scss */
  #titlelink {
    font-size: 25px;
    letter-spacing: 4px;
  }

  /* line 300, ../sass/screen.scss */
  .greeting {
    width: 300px;
  }
  /* line 302, ../sass/screen.scss */
  .greeting h1 {
    font-size: 76.95px;
  }
  /* line 305, ../sass/screen.scss */
  .greeting p {
    font-size: 16px;
    letter-spacing: -1px;
  }

  /* line 311, ../sass/screen.scss */
  #profile {
    width: 200px;
    height: 200px;
  }

  /* line 318, ../sass/screen.scss */
  #webdesignlanding article {
    width: 90%;
  }
  /* line 321, ../sass/screen.scss */
  #webdesignlanding h1 {
    font-size: 61.036px;
  }
  /* line 322, ../sass/screen.scss */
  #webdesignlanding p {
    font-size: 20px;
  }

  /* line 326, ../sass/screen.scss */
  .four.columns {
    margin: auto 5%;
    width: 40%;
  }

  /* line 333, ../sass/screen.scss */
  .two.columns,
  .three-forths.columns {
    clear: both;
    width: 90%;
    margin: auto 5%;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  /* line 344, ../sass/screen.scss */
  #currentprojects h1,
  #discography h1,
  #musiclanding h1 {
    font-size: 61.036px;
  }

  /* line 349, ../sass/screen.scss */
  #cp_link,
  #d_link {
    font-size: 39.063px;
  }

  /* line 354, ../sass/screen.scss */
  #titlelink {
    font-size: 30px;
    letter-spacing: 6px;
  }

  /* line 360, ../sass/screen.scss */
  .greeting {
    width: 400px;
  }
  /* line 362, ../sass/screen.scss */
  .greeting h1 {
    font-size: 76.95px;
  }
  /* line 365, ../sass/screen.scss */
  .greeting p {
    font-size: 20px;
  }

  /* line 372, ../sass/screen.scss */
  #webdesignlanding article {
    width: 90%;
  }
  /* line 375, ../sass/screen.scss */
  #webdesignlanding h1 {
    font-size: 61.036px;
  }
  /* line 376, ../sass/screen.scss */
  #webdesignlanding p {
    font-size: 20px;
  }
}
/* line 381, ../sass/screen.scss */
header {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 340px;
  background-color: #279be8;
}
/* line 387, ../sass/screen.scss */
header h1 {
  font-size: 2.08333em;
  line-height: 1.44em;
  font-family: "Raleway";
  font-weight: 100;
  letter-spacing: 6px;
  padding: .1em 5px;
  color: #e6f9ff;
}
/* line 394, ../sass/screen.scss */
header h1 .selected {
  color: #144396;
}

/* line 401, ../sass/screen.scss */
nav {
  width: 100%;
  background-color: #144396;
}
/* line 404, ../sass/screen.scss */
nav a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 .5em;
  color: #e6f9ff;
  font-size: 1.66667em;
  line-height: 1.8em;
}
/* line 412, ../sass/screen.scss */
nav a:hover,
nav .selected {
  background-color: #279be8;
  color: #144396;
  border-top: 5px solid #144396;
}
/* line 417, ../sass/screen.scss */
nav section {
  margin-left: 1em;
  width: 100%;
  background-color: #279be8;
}
/* line 421, ../sass/screen.scss */
nav section a {
  font-family: "ubuntu mono";
  font-size: 16px;
}
/* line 423, ../sass/screen.scss */
nav section a:hover {
  font-style: italic;
  border: 0px solid white;
}
/* line 427, ../sass/screen.scss */
nav section p {
  font-family: "Raleway";
  color: #e6f9ff;
}

/* line 434, ../sass/screen.scss */
#address {
  background-color: #144396;
  margin-left: 0;
  padding-left: 0;
}

/* line 440, ../sass/screen.scss */
#musiclink {
  font-family: "Merriweather";
  font-weight: 300;
}

/* line 447, ../sass/screen.scss */
#weblink,
#contactlink {
  font-family: "ubuntu mono";
  font-weight: 400;
}

/* line 452, ../sass/screen.scss */
#contactlink {
  font-style: italic;
}

/* line 456, ../sass/screen.scss */
#resumelink {
  font-family: "Raleway";
}

/* line 460, ../sass/screen.scss */
h2 {
  text-align: center;
  font-family: "Merriweather";
  font-size: 1.66667em;
  line-height: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 469, ../sass/screen.scss */
aside {
  margin-top: 7em;
  margin-right: 20px;
  float: right;
}

/* line 476, ../sass/screen.scss */
article {
  width: 100%;
  float: right;
  text-align: right;
  color: #e6f9ff;
}
/* line 481, ../sass/screen.scss */
article h1 {
  font-family: "Raleway";
  margin-top: 1.5em;
  font-size: 4.275em;
  line-height: 1.05263em;
}
/* line 486, ../sass/screen.scss */
article ul {
  font-family: "Ubuntu Mono";
  font-size: 1.66667em;
  line-height: 1.8em;
}
/* line 490, ../sass/screen.scss */
article p {
  font-family: "Ubuntu Mono";
  font-size: 1.66667em;
  line-height: 1.8em;
  margin-bottom: 1.5em;
}

/* line 497, ../sass/screen.scss */
.one {
  width: 100%;
  clear: both;
}

/* line 502, ../sass/screen.scss */
.two {
  width: 40%;
  margin: 0 5%;
}

/* line 507, ../sass/screen.scss */
.three-forths {
  width: 69%;
  margin: 0 3%;
}

/* line 512, ../sass/screen.scss */
.four {
  width: 23%;
  margin: 0 1%;
}

/* line 517, ../sass/screen.scss */
.columns {
  float: left;
}

/* line 522, ../sass/screen.scss */
a {
  color: #144396;
  text-decoration: none;
}

/* line 528, ../sass/screen.scss */
a:hover {
  color: #e6f9ff;
}

/* line 532, ../sass/screen.scss */
.justify {
  text-align: justify;
}

/* line 533, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 534, ../sass/screen.scss */
.obscure {
  color: #188fde;
}

/* line 535, ../sass/screen.scss */
.initblank {
  display: none;
}

/*Page Styles*/
/*Home*/
/* line 541, ../sass/screen.scss */
.greeting {
  float: right;
  max-width: 700px;
}

/* line 548, ../sass/screen.scss */
aside img {
  display: block;
  float: left;
  -webkit-border-radius: 300px 300px;
  -moz-border-radius: 300px / 300px;
  border-radius: 300px / 300px;
  height: 300px;
  width: 300px;
  margin: 0 auto 0 0;
}

/* line 559, ../sass/screen.scss */
#webdesignlanding {
  padding: 5em 0;
}

/* line 564, ../sass/screen.scss */
#musiclanding,
#currentprojects,
#discography {
  padding: 3em 0;
}
/* line 566, ../sass/screen.scss */
#musiclanding a,
#currentprojects a,
#discography a {
  margin: 0 .5em 0 auto;
  color: #144396;
  font-family: "Merriweather";
  font-size: 1.66667em;
  line-height: 1.8em;
}
/* line 572, ../sass/screen.scss */
#musiclanding a:hover,
#currentprojects a:hover,
#discography a:hover {
  color: #e6f9ff;
}

/* line 577, ../sass/screen.scss */
#discography {
  background-color: #279be8;
  text-align: center;
}
/* line 580, ../sass/screen.scss */
#discography section {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 584, ../sass/screen.scss */
#discography h1 {
  margin-bottom: 2em;
}
/* line 587, ../sass/screen.scss */
#discography h4 {
  font-family: "Raleway";
  letter-spacing: -1px;
}
/* line 591, ../sass/screen.scss */
#discography a {
  font-family: "Ubuntu mono";
  font-size: 16px;
}
/* line 595, ../sass/screen.scss */
#discography img {
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 602, ../sass/screen.scss */
#discography #tt_link {
  font-size: 46.875px;
}

/* line 607, ../sass/screen.scss */
#currentprojects {
  background-color: #144396;
}
/* line 608, ../sass/screen.scss */
#currentprojects img {
  max-width: 300px;
  max-height: 300px;
  margin: 2em auto;
  display: block;
}
/* line 615, ../sass/screen.scss */
#currentprojects h1 {
  text-align: center;
}
/* line 616, ../sass/screen.scss */
#currentprojects p {
  font-size: 20px;
}
/* line 617, ../sass/screen.scss */
#currentprojects a {
  font-size: 20px;
  color: #dee827;
}

/*WEB*/
/* line 626, ../sass/screen.scss */
#portfolio {
  text-align: center;
  background-color: #144396;
  margin-bottom: 5em;
}
/* line 630, ../sass/screen.scss */
#portfolio h1 {
  margin-bottom: 2em;
}
/* line 631, ../sass/screen.scss */
#portfolio h2 {
  font-family: "Raleway";
}
/* line 634, ../sass/screen.scss */
#portfolio a {
  color: #e6f9ff;
}
/* line 637, ../sass/screen.scss */
#portfolio img {
  width: 90%;
  margin-top: 2em;
  margin: 0 auto;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
}

/*Resume*/
/* line 649, ../sass/screen.scss */
#skills,
#about,
#experience,
#education {
  margin-top: 91.554px;
}
/* line 651, ../sass/screen.scss */
#skills h1,
#about h1,
#experience h1,
#education h1 {
  font-size: 49px;
}

/* line 657, ../sass/screen.scss */
#skills,
#about {
  text-align: left;
  margin-bottom: 1.5em;
}
/* line 659, ../sass/screen.scss */
#skills h1,
#about h1 {
  margin-top: 1em;
}
/* line 660, ../sass/screen.scss */
#skills p, #skills li,
#about p,
#about li {
  font-size: 16px;
}
/* line 662, ../sass/screen.scss */
#skills p,
#skills ul,
#about p,
#about ul {
  line-height: 20px;
}
/* line 665, ../sass/screen.scss */
#skills ul,
#about ul {
  margin: 0;
}
/* line 668, ../sass/screen.scss */
#skills li,
#about li {
  display: inline-block;
  padding: 0;
}

/* line 676, ../sass/screen.scss */
#education {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}
/* line 680, ../sass/screen.scss */
#education h1 {
  margin-top: 1em;
}
/* line 681, ../sass/screen.scss */
#education p, #education li {
  font-size: 16px;
}
/* line 682, ../sass/screen.scss */
#education ul {
  margin: 0;
  line-height: 20px;
  margin-left: 16px;
}

/* line 691, ../sass/screen.scss */
#experience {
  padding-top: 3em;
  background-color: #144396;
  padding-bottom: 7em;
}
/* line 694, ../sass/screen.scss */
#experience li {
  text-align: center;
}
/* line 695, ../sass/screen.scss */
#experience li {
  font-size: 16px;
}
