/*http://www.colorcombos.com/color-schemes/424/ColorCombo424.html*/

/* HTML5 Support *********************************************************/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  	display: block;
}
/* Background ************************************************************/
body
{
	background-color: #2A75A9;
}

article,
nav
{
	width: autopx;
	margin: 0px 25px 0px 25px;
}
/* Boot ******************************************************************/
#boot_title
{
	color: #8F6048;
	font-family: 'Wire One', sans-serif;
	font-size: 100px;
	line-height: 150%;
	text-shadow: 1px 1px 1px #2A75A9;
	letter-spacing: 50px;
	text-align: center;
}

/* Title *****************************************************************/
header
{
	width: auto;
	margin: 25px 25px 0px 25px;
	border-top: 2px solid #644436;
	border-left: 2px solid #644436;
	border-right: 2px solid #644436;
	background-color: #644436; 
	-moz-border-radius: 20px 20px 0 0; 
	-webkit-border-radius: 20px 20px 0 0; 
}

#title{
	color: #DFC184;
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	text-shadow: 2px 2px 2px #8F6048;
	letter-spacing: 10px;
	text-align: center;
}

/* Content *****************************************************************/
article
{ 
	padding: 10px;
	border: 2px solid #644436;
	background-color: #7EB5D6; 
	-moz-border-radius: 0 0 20px 20px; 
	-webkit-border-radius: 0 0 20px 20px; 
}

section
{
	margin: 20px;
}
/* Welcome ********************************************************************/
#welcome
{

	height: 1000px;
}

#welcomeheader
{
	position: relative;
}

#welcomepic
{
	position: absolute; 
	right: 70px;
	top: 290px;
	border-radius: 30px;
}

/* Recordings *****************************************************************/
.album 
{
	margin: 0;
	border: 3px solid #644436;
	border-radius: 10px;
}

.album:hover
{
	margin: 0;
	border: 3px solid #DFC184;
}

/* Experience *****************************************************************/
.expheader
{
	/*text-align: center;*/
}

.pos_title,
.more_info
{
	margin-left: 20px;
}

/*General Content*/
h2,
h3,
h4,
h5,
p,
a,
li
{ 
	font-family: 'Open Sans Condensed', sans-serif; 
	color: #644436;
}

h2
{
	color:#7EB5D6;
	text-shadow: 3px 3px 3px #644436;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 10px;
	text-align: left;
		
}

h3,
h4,
h5,
a, 
p
{
	letter-spacing: 2px; 
}

h3
{
	font-size: 30px;
}

h4
{
	font-size: 25px; 
}

h5
{
	font-size: 24px;
}

p
{
	font-size: 22px;
	color: #644436;
	text-align:justify;
	text-justify:inter-word;
	line-height:200%;
}

a
{
	color: #644436; 
	text-decoration: none; 
	text-shadow: 1px 1px 1px #DFC184; 
}

a:hover 
{
	color: #DFC184; 
	text-shadow: 1px 1px 1px #644436; 
}

li
{
	font-size: 20px; 
	letter-spacing: 2px; 
	line-height:150%;
	margin-left: 20px; 
}


#indicator
{  
	margin: 0px auto 0px auto; 
    width: auto;  
    height: 30px; 
    text-align: center;  
    font-size: 20px;  
    letter-spacing: 25px;  
    white-space: nowrap;  
    line-height: 12px;  
    overflow: hidden;  
}  
  
.ball { 
	margin: 5px;
    width: 15px;  
    height: 15px;  
    border: solid 1px #644436;  
    display: inline-block;  
    vertical-align: middle; 
    border-radius: 8px;
	background-color: #7EB5D6; 
} 

.ballhover { 
	border: solid 1px #DFC184;
} 

.selected {
	background-color: #DFC184;
	border: solid 1px #7EB5D6;
}

#contactbox
{
	margin: 0px auto 0px auto; 
	width: auto;
	text-align: center;
	white-space: nowrap; 
}

/* Button *****************************************************************/
.buttontext
{
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
}


button
{
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
	background-color: #7EB5D6;
	border: 1px solid #644436;
	border-radius: 15px;
	width: auto; 
	height: auto;
	padding: 10px;
}

.buttonhover { 
	border: solid 1px #DFC184;
	background-color: #644436;
} 

.buttonhover h3 { 
	color: #DFC184;
	text-shadow: 1px 1px 1px #7EB5D6; 
}

/* Footer ******************************************************************/
footer
{
	position: relative; 
	bottom: 0px;
}

#f
{
	color: #7EB5D6;
	font-family: 'Wire One', sans-serif;
	font-size: 15px;
	letter-spacing: 5px;
	text-align:center;
}
